body {
  margin: 0px;
  padding: 0px;
  /* text-align: center; */
  @media (max-width: 991.98px) {
    margin: 0 auto;
    padding: 10px;
  }
}
* {
  box-sizing: border-box;
}
fieldset {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: column;
  gap: 10px;
}
div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
select {
  width: 180px;
}
h1,
p {
  text-align: center;
}
button {
  margin-left: 45%;
  cursor: pointer;
}
p {
  font-style: italic;
}
